#adminPage {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;

  * {
    font-family: "Poppins", sans-serif;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .topClass {
      padding: 8px 16px;
      background-color: white;
      display: flex;
      justify-content: end;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .profile {
        display: flex;
        align-items: center;
        gap: 16px;

        button {
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #60B5AD;
          border: none;
          border-radius: 5px;
          color: white;

          svg {
            margin-top: 3px;
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
        }

        .dropdown-menu {
          position: absolute;
          top: 50px;
          background: white;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          z-index: 10;

          button {
            color: black;
            padding: 20px;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &:hover {
              background: #f0f0f0;
            }
          }
        }
      }
    }
  }
}