#footer {
  color: white;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 80px 50px;

  .back {
    display: flex;
    max-width: 300px;
    width: 100%;
    align-items: center;
    gap: 32px;

    .icon {
      font-size: 22px;
    }
  }

  .follow {
    position: relative;
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;

    .title {
      transition: transform 0.3s ease;
    }

    &:hover .title {
      transform: translateY(-35px);
    }

    .social-links {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 24px;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: scale(1);
      padding: 20px 0;
      top: -20px;
      font-size: 20px;

      span:hover {
        transition: all .4s ease;
        transform: scale(1.2);
      }
    }

    &:hover .social-links {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 992px) {
    padding: 8px 16px;

    .copy {
      display: none;
    }

    .follow {

      &:hover {
        .icon1 {
          display: none;
        }
      }
    }
  }
}

#footerBottom {
  color: white;
  align-items: end;
  justify-content: space-between;
  padding: 0 80px 50px;

  display: none;

  .back {
    display: flex;
    max-width: 300px;
    width: 100%;
    align-items: center;
    gap: 32px;

    .icon {
      font-size: 22px;
    }
  }

  .follow {
    position: relative;
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;

    .title {
      transition: transform 0.3s ease;
    }

    &:hover .title {
      transform: translateY(-35px);
    }

    .social-links {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 24px;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: scale(1);
      padding: 20px 0;
      top: -20px;
      font-size: 20px;

      span:hover {
        transition: all .4s ease;
        transform: scale(1.2);
      }
    }

    &:hover .social-links {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 992px) {
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
